<div class="header-main">
  <%= image_tag "top.png", class: "header-logo" %>
  <div class="header-right">
    <%= link_to "ログイン", "#", class: "header-right-content" %>
    <%= link_to "新規登録", "#", class: "header-right-content" %>
  </div>
</div>