.post-show{
  padding: 30px 60px;
  display: flex;
}
.show-image{
  height: 600px;
  width: 800px;
}

.post-letter{
  margin-left: 30px;
}
.post-show-title{
  font-size: 60px;
  margin-bottom: 30px;
}
.post-show-text{
  font-size: 25px;

}

.post-show-right-bottom{
  position: fixed;
  bottom: 60px;
  margin-left: 900px;
  font-size: 30px;
}

.link_edit{
  margin-right: 40px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.link_delete{
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}